.left-bar {
    height: 100%;
    overflow-y: auto;
}

.left-bar img {
    height: 150px;
    width: 100%;
}

.left-bar h3 {
    color: rgba(220,110,50,0.7);
}

.left-bar p {
    font-size: 0.8rem;
}

.right {
    float: right;
}

.left {
    float: left;
}